<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title 'Fleet Manager' %}</title>
        {% block seo_metatags %}
            <meta name="description" content="Fleet Manager is an online open source tool to help you manage your personal and orga. Star Citizen Fleets, share it with your friends and your organizations."/>
            <meta property="og:type" content="website" />
            <meta property="og:description" content="Fleet Manager is an online open source tool to help you manage your personal and orga. Star Citizen Fleets, share it with your friends and your organizations."/>
            <meta property="og:image" content="{{ asset('icons/favicon-64x64.png') }}" />
        {% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icons/apple-touch-icon.png') }}?1.4.1">
        <link rel="icon" type="image/png" sizes="64x64" href="{{ asset('icons/favicon-64x64.png') }}?1.4.1">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('icons/favicon-32x32.png') }}?1.4.1">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('icons/favicon-16x16.png') }}?1.4.1">
        <link rel="manifest" href="{{ asset('icons/site.webmanifest') }}?1.4.1">
        <link rel="mask-icon" href="{{ asset('icons/safari-pinned-tab.svg') }}?1.4.1" color="#082a3a">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}?1.4.1">
        <meta name="apple-mobile-web-app-title" content="Fleet Manager">
        <meta name="application-name" content="Fleet Manager">
        <meta name="msapplication-TileColor" content="#082a3a">
        <meta name="msapplication-config" content="{{ asset('icons/browserconfig.xml') }}?1.4.1">
        <meta name="theme-color" content="#1e396a">

        {% if app.environment == 'prod' %}
            <link rel="preconnect" href="https://www.google-analytics.com">
            <link rel="dns-prefetch" href="https://www.google-analytics.com">
        {% endif %}

        {% block metas %}{% endblock %}

        {% block stylesheets %}
            <link rel="preload" href="{{ preload(asset('build/fonts/josefin.woff2'), {'as': 'font', 'crossorigin': true}) }}" as="font" type="font/woff2" crossorigin>
            <link rel="preload" href="{{ preload(asset('build/fonts/fa-brands-400.woff2'), {'as': 'font', 'crossorigin': true}) }}" as="font" type="font/woff2" crossorigin>
            <link rel="preload" href="{{ preload(asset('build/fonts/fa-solid-900.woff2'), {'as': 'font', 'crossorigin': true}) }}" as="font" type="font/woff2" crossorigin>
            {{ encore_entry_link_tags('main') }}
        {% endblock %}
    </head>

    <body {% block body_attr '' %}>
        {% block body %}
            <div id="app"></div>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
        {% if app.environment == 'prod' %}
            {% block gtag %}
                <script async src="{{ asset('build/vendors/gtag.js') }}"></script>
                <script>
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());
                  gtag('config', 'UA-38751935-8', { 'anonymize_ip': true });
                </script>
            {% endblock %}
        {% endif %}
    </body>
</html>
