<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title 'Fleet Manager' %}</title>
        {% block seo_metatags %}
            <meta name="description" content="Fleet Manager is an online open source tool to help you manage your personal and orga. Star Citizen Fleets, share it with your friends and your organizations."/>
            <meta property="og:type" content="website" />
            <meta property="og:description" content="Fleet Manager is an online open source tool to help you manage your personal and orga. Star Citizen Fleets, share it with your friends and your organizations."/>
            <meta property="og:image" content="{{ asset('icons/favicon-96x96.png') }}" />
        {% endblock %}

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('icons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('icons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('icons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('icons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('icons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('icons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('icons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('icons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('icons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('icons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('icons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('icons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('icons/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('icons/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        {% block metas %}{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ preload(asset('build/main.css')) }}">
        {% endblock %}
    </head>

    <body {% block body_attr '' %}>
        {% block body %}
            <div id="app"></div>
        {% endblock %}

        <script src="{{ preload(asset('build/runtime.js')) }}"></script>
        {% block javascripts %}
            <script src="{{ preload(asset('build/main.js')) }}"></script>
        {% endblock %}
        {% if app.environment == 'prod' %}
            <script async src="{{ asset('build/vendors/gtag.js') }}"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-38751935-8', { 'anonymize_ip': true });
            </script>
        {% endif %}
    </body>
</html>
