<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title 'SC Fleet Manager' %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ preload(asset('build/main.css')) }}">
        {% endblock %}
    </head>

    <body {% block body_attr '' %}>
        {% block body %}
            <div id="app"></div>
        {% endblock %}

        <script src="{{ preload(asset('build/runtime.js')) }}"></script>
        {#<script src="{{ preload(asset('build/manifest.js')) }}"></script>#}
        {% block javascripts %}
            <script src="{{ preload(asset('build/main.js')) }}"></script>
        {% endblock %}
    </body>
</html>
