{% extends 'base.html.twig' %}

{% block seo_metatags %}
    {{ parent() }}
    <meta property="og:url" content="{{ url('spa_home') }}" />
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block stylesheets %}
    <link rel="preload" href="{{ preload(asset('build/fonts/OpenSans-Regular.ttf'), {'as': 'font'}) }}" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="{{ preload(asset('build/fonts/UniviaPro-Regular.ttf'), {'as': 'font'}) }}" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="{{ preload(asset('build/fonts/fa-brands-400.woff2'), {'as': 'font'}) }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ preload(asset('build/fonts/fa-solid-900.woff2'), {'as': 'font'}) }}" as="font" type="font/woff2" crossorigin>
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
