{% extends 'base.html.twig' %}

{% block seo_metatags %}
    {{ parent() }}
    <meta property="og:url" content="{{ url('spa_home') }}" />
{% endblock %}

{% block body %}
    <div id="app" data-discord-login-url="{{ hwi_oauth_login_url('discord') }}"></div>
{% endblock %}

{% block stylesheets %}
    <link rel="preload" href="{{ preload(asset('build/fonts/josefin.woff2'), {'as': 'font'}) }}" as="font" type="font/woff2">
    <link rel="preload" href="{{ preload(asset('build/fonts/fa-brands-400.woff2'), {'as': 'font'}) }}" as="font" type="font/woff2">
    <link rel="preload" href="{{ preload(asset('build/fonts/fa-solid-900.woff2'), {'as': 'font'}) }}" as="font" type="font/woff2">
    <link rel="stylesheet" href="{{ preload(asset('build/home.css'), {'as': 'style'}) }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ preload(asset('build/home.js'), {'as': 'script'}) }}"></script>
{% endblock %}
