{% extends 'back_office_layout.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-3">Ship Transform Edit</h1>

        <p><a href="{{ path('bo_ship_transform_list') }}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to the list</a></p>

        <form action="{{ path('bo_ship_transform_edit', {'id': shipName.id}) }}" method="post">
            {{ form_row(form.myHangarName) }}
            {{ form_row(form.shipMatrixName) }}

            <button type="submit" class="btn btn-success">Valider</button>
            {% if form._token is defined %}
                {{ form_widget(form._token) }}
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
