{% extends 'back_office_layout.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-3">Monthly Cost Coverage List</h1>

        <p><a href="{#{{ path('') }}#}" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a></p>

        <p><strong>Default monthly cost coverage target:</strong> ${{ (default_cost_coverage.target/100)|number_format(2) }}</p>

        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">Month</th>
                <th scope="col">Target</th>
                <th scope="col">Postpone</th>
            </tr>
            </thead>
            <tbody>
            {% for monthly_cost_coverage in monthly_cost_coverages %}
            <tr class="{{ monthly_cost_coverage.month|date('Ym') == 'now'|date('Ym') ? 'bg-info' : '' }}
                       {{ monthly_cost_coverage.month|date('Ym') < 'now'|date('Ym') ? 'bg-secondary' : '' }}">
                <th scope="row">{{ monthly_cost_coverage.month|date('F Y') }}</th>
                <td>${{ (monthly_cost_coverage.target/100)|number_format(2) }}</td>
                <td>
                    {% if monthly_cost_coverage.postpone %}
                        <span class="badge badge-success">Yes</span>
                    {% else %}
                        <span class="badge badge-danger">No</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
